# Dependencies
node_modules/

# Build output
out/
*.js.map
client/out/
server/out/
shared/out/

# VS Code
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Package
*.vsix
